* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background:black;
    color: white;
    line-height: 1.6;
    padding-bottom: 50px;
}
nav{
    text-align: center;
    margin-top: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:30px;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    font-size: 20px;
}
nav a:hover{
    color: #fce6f9;
    text-shadow: 0 0 20px #fc71f5;
}
section {
    padding: 60px 10%;
}
h1, h2 {
    letter-spacing: 2px;
}
header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #6a00f4, #a200ff, #ff00c8);
    color: white;
    border-bottom: 4px solid #ffffff38;
    box-shadow: 0 0 20px purple;
}
#profile-pic {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    background:url("mahi.12.jpg") center/cover;
    /* background: url("360_F_1534035806_6gn57ou4V0dVZY6l30h6nEB5gWQRAP6v.jpg") center/cover; */
    box-shadow: 0 0 25px #ff00ea, 0 0 45px #8b00ff;
    border: 3px solid white;
    animation: glow 2.5s infinite alternate;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 20px #ff00ea;
    }
    100% {
        box-shadow: 0 0 40px #a200ff;
    }
}
header p {
    opacity: 0.8;
    margin-top: 5px;
}
section {
    background: rgba(255, 255, 255, 0.05);
    margin: 40px 10%;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px #ffffff0a;
    transition: 0.3s ease;
}
section:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px #a200ff33;
}
h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #e19cff;
    text-shadow: 0 0 8px #a200ff;
}
#skills ul {
    list-style: none;
}
#skills li {
    margin: 10px 0;
    padding: 12px;
    background: #1d1d22;
    border-radius: 10px;
    transition: 0.3s;
    border-left: 5px solid #a200ff;
}
#skills li:hover {
    background: #2b2b30;
    transform: translateX(10px);
    box-shadow: 0 0 10px #a200ff60;
}
#project p {
    opacity: 0.8;
    font-style: italic;
    font-size:18px;
}

h6{
     font-size: 15px;
}
h6 ul{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 15px;
    margin-top: 25px;
}
h6 a{
    text-decoration: none;
    color: #5a99fd;
    font-size: 18px;
    font-weight: bold;
    transition: 0.02s;
}
h6 a:hover{
    color: #b4f7be;
    text-shadow: 0 0 15px #b3edf5;
}
#contact p {
    font-size: 20px;
    color: #ffd5ff;
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #1a1a1d;
    border-top: 2;
}